# exclude local config file used in force code
\.forceCode/
\.vscode/
\.sfdx/
force.json
\.vim-force\.com/

**.code-workspace

**/Recaptcha_settings.RegistrationPageV3.md
**/Recaptcha_settings.RegistrationPage.md
**/Recaptcha_settings.WebForm_v1.md
**/SiteDomain.allclad.md
**/SiteDomain.core.md
**/SiteDomain.lagostina.md
**/SiteDomain.silit.md
**/SiteDomain.wmf.md
src/resource-bundles/**

# exclude local config file used in IntelliJ
**/IlluminatedCloud/
/SF-SalesforceGroupeSEB.iml

# for PMD
.pmdCache
pmd-bin*/

# for prettier
node_modules/

# for LWC?
**/lwc/jsconfig.json

apexLog.csv
